.app {
  width: 70%;
  margin: auto;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;

  .movieitem {
    width: 30%;
    // height: 10rem;
    margin-bottom: 1rem;
    // padding: 1rem;
    text-decoration: none;
    border: 1px solid lightgrey;

    &__title {
      width: max-content;
      max-width: 90%;
      font-size: .9rem;
      height: 3rem;
      margin: auto;
      padding: 1rem;
    }

    &__image {
      display: block;
      width: 100%;
      max-height: 6rem;
      margin: auto;
      object-fit: cover;

    }
  }
}

.searchform {
  label {
    display: block;
    margin-bottom: 1rem;
  }

  input:not(.submitbutton),
  select {
    margin-left: 1rem;
  }
}